@import "../../../../styles/mixins.scss";

.item-section:last-child {
    margin-bottom: 30px;
}

article {
    h1 {
        font-size: 30px;
    }

    .title {
        font-size: 20px;
    }
}

.item-list {
    margin-top: 25px;

    .item {
        .line-wrapper > * {
            float: left;
        }

        $dateSize: 130px;
        $pointSize: 40px;
        $pointMargin: 15px;
        $linkHeight: 30px;
        $textSize: 20px;
        $pointBorderSize: 1px;
        $linkSize: 1px;

        $pointWidth: $pointSize + ($pointBorderSize + $pointMargin) * 2;
        $pointHeight: $pointSize + $pointBorderSize * 2;

        font-size: $textSize;

        .line-wrapper {
            height: $pointHeight;

            &:hover {
                cursor: pointer;
                background: repeating-linear-gradient(-45deg, rgba(238, 238, 238, 0.6), rgba(238, 238, 238, 0.6) 20px, rgba(255, 255, 255, 0.6) 20px, rgba(255, 255, 255, 0.6) 30px);
                background-color: rgba(#c62c2e, 0.1);
                border-radius: 20px;

                .point {
                    background: repeating-linear-gradient(-45deg, rgba(238, 238, 238, 0.6), rgba(238, 238, 238, 0.6) 20px, rgba(255, 255, 255, 0.6) 20px, rgba(255, 255, 255, 0.6) 30px);
                    background-color: red;
                }
            }
        }

        .title {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 650px - $pointWidth - $dateSize;
            overflow: hidden;
        }

        .point {

            border: $pointBorderSize solid black;
            border-radius: 100%;
            width: $pointSize;
            height: $pointSize;
            margin-left: $pointMargin;
            margin-right: $pointMargin;
        }

        .date, .title {
            margin-top: calc((#{$pointHeight} - 1em) / 2);
        }

        .date {
            width: $dateSize;
            text-align: right;
        }

        .link {
            width: $dateSize + $pointWidth / 2 - $linkSize / 2;
            height: $linkHeight;
            border-right: $linkSize solid black;
        }

        &:last-child .link {
            display: none;
        }
    }
}

.article-container {
    margin-left: -30px;

    &.old-articles {
        text-align: center;
    }
}
