
<div style="text-align: center">
    <div style="display: inline-block; text-align: left; width: 650px; max-width: 100%;">
        <div class="item-section">
            <h1>Les plus récents...</h1>
            <div class="item-list">
                <div class="item" *ngFor="let article of mostRecentArticles" (click)="gotoArticle(article)">
                    <span class="title" [innerHtml]="article.titleHtml"></span>
                    <span class="date">{{ article.date }}</span>
                </div>
            </div>
        </div>
            
        <div class="item-section">
            <h1>Le premier article</h1>
            <div class="item-list">
                <div class="item" (click)="gotoArticle(firstArticle)">
                    <span class="title" [innerHtml]="firstArticle.titleHtml"></span>
                    <span class="date">{{ firstArticle.date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
