@import "../../../../styles/mixins.scss";

.previous, .next {
    display: inline-block;
    font-weight: 600;
}

$link-margin: 15px;

.previous {
    float: left;
}
.next {
    float: right;
}

.end-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    margin-top: 41.5px;

    text-align: center;
    
    @include gui-background;
}

.end {
    padding: 10px 0px;
}

nav {
    height: calc(1em + #{$link-margin * 2 + 3});

    a {
        color: rgb(246, 240, 228);
    }

    > * {
        margin: $link-margin $link-margin;
    }
}
