<article>
    <div class="article">
        <h1>Contacter le <span class="journal">Journal</span></h1>
        <p>
            Vous pouvez contacter le <span class="journal">Journal</span> à l'adresse suivante : <a href="mailto:adrien.castex@protonmail.com">adrien.castex@protonmail.com</a>
        </p>
        <p>
            N'hésitez pas à nous faire des retours, surtout s'il est question de louages vis-à-vis de la politique du gouvernement ou si vous disposez d'informations
            sur votre voisinage ou vos proches qui seraient susceptibles d'intéresser la police dans le cadre de la loi <a [routerLink]="capSafeArticle.routeEntry.path">CapSafe</a>.
        </p>
        <p>
            Bien à vous et bonne capitalisation.
        </p>
    </div>
</article>