<article>
    <div>
        <h1>Contacter le <span class="journal">Journal</span></h1>
        <p>
            Vous pouvez contacter le <span class="journal">Journal</span> à l'adresse suivante : <a href="mailto:adrien.castex@protonmail.com">adrien.castex@protonmail.com</a>
        </p>
        <p>
            N'hésitez pas à nous faire des retours, surtout s'il est question de louages vis-à-vis de la politique menée par le gouvernement ou si vous disposez d'informations
            à caractère patriotique (fournissez alors l'infraction commise et le nom complet ou l'image du visage du ou des criminels).
            Nous transmettrons au <span class="parti">Parti</span> toute information susceptible de l'intéresser.
        </p>
    </div>
</article>