<article>
    <div class="article">
        <h1 class="title">Attentats sans précédent</h1>
        <h5 class="sub-title"><span class="date">13 mai 2020</span></h5>

        <div class="content">
            <p>
                Hier, des attentats odieux ont eux lieu dans la capitale et les grandes villes. Ces actions criminelles se sont produites
                à quelques heures d'intervalle, signifiant qu'elles sont l'œuvre d'un seul et même groupe terroriste. Leur organisation et
                leur capacité de frappe sont sans précédent, ce qui en fait la menace première du pays.
            </p>
            <p>
                Je vous propose de retrouver la retranscription, ci-dessous, de l'allocution tenue par un représentant du <span class="parti">Parti</span>
                en réponse à ces attaques.
            </p>
            <div class="citation">
                <p>
                    Citoyennes, citoyens, l'heure est grave. Hier, un groupe terroriste encore inconnu à ce jour vient de frapper dans
                    nos grandes villes, provoquant plusieurs centaines de morts, tout autant de blessés et un pays entier en deuil.
                </p>
                <p>
                    Le pays ne restera pas sans rien faire !
                </p>
                <p>
                    Le <span class="parti">Parti</span> a personnelle contacté les services de renseignement pour savoir comment des attaques de cette ampleur ont pu passer
                    sous les radars. La seule réponse que nous avons reçue est la suivante : « Nous manquons de personnel et de moyens ». Ainsi,
                    le <span class="parti">Parti</span> a décidé de tout faire pour que cela ne se reproduise plus, pour que le peuple
                    puisse se déplacer sans crainte au sein du pays, pour que ceux qui tuent soient justement punis pour leurs actes.
                    Nous allons, alors, allouer autant de ressources qu'il sera nécessaire pour identifier ce groupe terroriste, pour
                    le traquer et pour le mettre hors d'état de nuire.
                </p>
                <p>
                    Protégeons nos droits et notre liberté.
                </p>
            </div>
            <p>
                Pour faire suite à cette déclaration officielle, le <span class="parti">Parti</span> vient de proclamer l'état d'urgence, lui permettant
                de faire passer des lois rapidement, pour répondre avec force et réactivité à ce nouveau fléau. Une nouvelle allocution qui se fera dans les prochains jours permettra
                d'information la population sur les premières décisions prises.
            </p>
        </div>
        <app-article-footer article-date="{{date}}"></app-article-footer>
    </div>
</article>