<article>
    <div class="article">
        <h1 class="title" [innerHTML]="article.titleHtml"></h1>
        <h5 class="sub-title"><span class="date">{{ article.date }}</span></h5>

        <div class="content" [innerHTML]="article.contentHtml" (click)="clickOnLink($event)"></div>

        <div class="comments">
            <h2>Commentaires</h2>

            <div *ngIf="article.comments.length === 0">
                Aucun commentaire.
            </div>

            <div [ngClass]="['comment', comment.banned ? 'banned' : '']" *ngFor="let comment of article.comments">
                <div class="author">{{ comment.author }}</div>
                <div class="delete-msg" *ngIf="comment.banned">Message en attente de suppression pour avoir enfreint la loi <a [routerLink]="capSafeArticle.routeEntry.path">CapSafe</a>.</div>
                <div class="content" [innerHTML]="comment.contentHtml"></div>
                
                <div [ngClass]="['reply', comment.banned ? 'banned' : '']" *ngFor="let comment of comment.replies">
                    <div class="author">{{ comment.author }}</div>
                    <div class="delete-msg" *ngIf="comment.banned">Message en attente de suppression pour avoir enfreint la loi <a [routerLink]="capSafeArticle.routeEntry.path">CapSafe</a>.</div>
                    <div class="content" [innerHTML]="comment.contentHtml"></div>
                </div>
            </div>
        </div>

        <div class="end-container">
            <nav>
                <div class="previous" *ngIf="previous"><a [routerLink]="previous.routeEntry.path">< Article précédent</a></div>
                <div class="next" *ngIf="next"><a [routerLink]="next.routeEntry.path">Article suivant ></a></div>
            </nav>
        </div>
    </div>
</article>