@import "../styles/mixins.scss";

.header-title {
    text-align: center;
    font-family: stencil;
    font-size: 50px;

    @include gui-background;

    padding: 30px 0px;
}
.page-footer {
    text-align: center;
    font-size: 10px;
    padding: 20px;
    
    @include gui-background;
}

.header-nav {
    text-align: center;

    ul {
        list-style-type: none;
        display: inline-block;
        padding: 15px 30px 15px 0px;
        width: 650px;
        max-width: 100%;
        margin: 0px;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        font-size: 25px;
        @include gui-background;

        li {
            display: inline-block;
            margin-left: 30px;

            a {
                color: rgb(246, 240, 228);
            }
        }
    }
}
