
<div class="header-title">
  <a routerLink="/" routerLinkActive="active">Le Journal</a>
</div>

<nav class="header-nav">
  <ul>
    <li><a routerLink="/chronologie" routerLinkActive="active">Chronologie</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<nav class="header-nav-shadow"></nav>

<router-outlet></router-outlet>

<div class="page-footer">
  Le Journal, fondé le 7 mai 2020 par le Parti, est détenteur de tous les articles ici présents.
  Toute utilisation des propos tenus ici, dans le but de promouvoir un autre parti politique que celui actuellement en place, est strictement
  interdite et condamnable conformément aux amendements apportés par le Parti sur les lois liées à la liberté de pensée et à la liberté de parole.
</div>
