
<div class="header-title">
  <a routerLink="/">Le Journal</a>
</div>

<nav class="header-nav">
  <ul>
    <li><a routerLink="/chronologie" routerLinkActive="active">Chronologie</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<nav class="header-nav-shadow"></nav>

<router-outlet></router-outlet>

<div class="page-footer">
  Le Journal, fondé le 7 mai 2020, est une œuvre fictive qui tente de décrire une société qui tournerait à l'ultra-capitalisme sans limite et au totalitarisme.
  <a href="https://github.com/Le-Parti/le-journal" title="GitHub">GitHub</a>.
</div>
