<article>
    <div class="article">
        <h1 class="title">Election prodigieuse du <span class="parti">Parti</span></h1>
        <h5 class="sub-title"><span class="date">7 mai 2020</span></h5>

        <div class="content">
            <p>
                Aujourd'hui, en cette date historique, le <span class="parti">Parti</span> vient d'être élu à la présidentielle de la république
                avec un score record de 99,9 % !
            </p>
            <p>
                Alors que sa campagne était mouvementée, principalement à cause des médias de propagande qui répandaient de fausses informations
                sur ses membres, le <span class="parti">Parti</span> a réussi à conquérir les cœurs et à faire résonner dans l'esprit de la population la
                perspective d'un monde meilleur.
            </p>
            <p>
                Pour s'assurer que les médias n'entravent plus jamais le bien commun, le <span class="parti">Parti</span> a réalisé sa première action :
                la fermeture de nombreux médias politiques. Pour que les valeurs altruistes et bienveillantes du mouvement puissent
                se développer librement, le <span class="parti">Parti</span>
                a fondé notre journal, LE <span class="journal">Journal</span>, et compte le mettre en avant autant que possible. La vérité sera ainsi à portée de chacun, et les manipulations des
                contradicteurs politiques ne pourront plus obtenir le même écho que dans le passé. Vous pourrez donc lire nos articles sans avoir besoin de vous
                poser des questions, car, pour nous, seule la vérité compte.
            </p>
            <h2>Le <span class="parti">Parti</span> vous récompense</h2>
            <p>
                De plus, comme l'a annoncé ce matin un représentant du gouvernement, toute personne qui proclamera haut et fort, sans équivoque,
                son vote pour le <span class="parti">Parti</span> et qui portera son insigne emblématique cousu sur ses vêtements
                obtiendra un justificatif d'affiliation qui lui offrira de très nombreux avantages, tel que la réduction d'impôts.
            </p>
        </div>
        <app-article-footer article-date="{{date}}"></app-article-footer>
    </div>
    <!--<app-home></app-home>-->
</article>